#project {
  display: flex;
  justify-content: center;
}

.project__contents {
  display: flex;
  flex-wrap: wrap;

  width: 1200px;
  height: 550px;

  transform: translateY(100px);

  background-color: rgb(34, 51, 51, 1);
  border-radius: 20px;

  text-align: center;

  overflow: auto;
}

.project__contents__object {
  display: inline-block;

  width: 25%;
  height: 50%;

  margin-left: 50px;
  margin-right: 40px;
  margin-top: 50px;
  margin-bottom: 50px;

  background-color: white;
}

.project__contents__object h3 {
  margin-left: 15px;
}

.introduce {
  width: 100%;
  height: 60%;

  text-align: left;
}

.introduce p {
  margin-left: 12px;
  margin-right: 12px;

  height: 52%;

  /* background-color: coral; */
  font-size: 15px;
  overflow-wrap: break-word;
}

.introduce__link {
  display: inline-block;
  margin-left: 15px;
  font-weight: 700;

  text-decoration: none;
}

.project__contents__object .subject {
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 30px;
  height: 30%;
}
